// .photos{
// 	// width: 800px;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-100%, -100%);
// }

.VueCarousel-slide {
	// position: relative;
	background: black;
	color: #fff;
	font-size: 24px;
	text-align: center;
    min-height: 500px;
    // min-width: 300px;
  }

.VueCarousel {
	max-height: 600px;
    max-width: 800px;
}

// .VueCarousel-inner{
// 	flex-basis: 800px !important;
// }
