
.nav-link{
	color: $primary-text-color;
	font-weight: bolder;
}

.img-searcher-container{
	display: flex;
	justify-content: center;
	background-image: url("../images/cover.jpg");
	background-size: cover;
	max-height: 300px;
	height: -webkit-fill-available;
}

@include respond-below(xs) {
	.searcher-container {
		#searcher {
			input[type="text"] {
				width: 100% !important;
			}

			input[type="submit"] {
				right: 8px !important;
				left: unset !important;
			}
		}
	}
}